.card-content {
    margin-top: 20px;
    width: auto;
    border-radius: 5px;
    background-color: white;
    padding: 5%;
    -webkit-box-shadow: 4px 4px 22px -6px rgba(0,0,0,0.82);
    -moz-box-shadow: 4px 4px 22px -6px rgba(0,0,0,0.82);
    box-shadow: 4px 4px 22px -6px rgba(0,0,0,0.82);
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-family: ubuntu-bold;
    color:#00b894;
}

.card-body {
    font-family: ubuntu-light-italic;
    color: #636e72;
}

.card-remove-btn {
    color: red;
    font-family: ubuntu-medium;
    font-size: 20px;
}

.btn-remove {
    cursor: pointer;
}

.card-options {
    vertical-align: middle;
    display: table-cell;
    text-align: right;
}

.col-12, .col-10, .col-2 {
    display: table-cell;
}